<!-- <h2>Is Angular a better a framework?</h2>

<h4>Quantidades dos que concordam: {{concorda}}</h4>
<h4>Quantidades dos que nao concordam: {{naoconcorda}} </h4>
<app-vote *ngFor="let votante of votantes" (enviaVoto)=foiVotado($event)>

 </app-vote>
 -->
<!-- <app-lifecycle [data]="life"></app-lifecycle> -->
<!-- <app-formulario></app-formulario> -->
<!-- <app-formulario-reactivo></app-formulario-reactivo> -->
<!-- <app-formulario-reativo-aninhado></app-formulario-reativo-aninhado> -->
 <!-- <app-form-builder></app-form-builder>  -->
<!--  <app-formulario-modelo></app-formulario-modelo>  -->
<app-pessoa></app-pessoa>